@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient {
  border: 2px solid transparent;
  border-radius: 16px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(162deg, #121536, #0b0d21),
    linear-gradient(20deg, transparent, transparent, #8f41e9);
}

.border-gradient-2 {
  border: 2px solid transparent;
  border-radius: 16px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(0, #09091a, #09091a),
    linear-gradient(20deg, transparent, transparent, #8f41e9);
}

.border-gradient-3 {
  border: 2px solid transparent;
  border-radius: 16px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(0, #09091a, #09091a),
    linear-gradient(50deg, transparent, transparent, #8f41e9);
}

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  --rpx: 100vw / 1728;
}

/* .main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
} */
